.contact-us-section {
    .social-icon-hroup {
        .social-icon {
            border: 1px solid $color-BFA8E5;
            height: 48px;
            width: 48px;
            margin-right: 10px;

            &:last-child {
                margin-right: 0px;
            }

            .img {
                height: 20px;
            }
        }
    }
}

.invoice-form-section {
    .left-side-content {
        top: 220px;
        height: calc(100vh - 325px);
    }
}