.left-right-img {
    height: 625px;
}

.view-vacancies-section {
    height: 555px;

    .intersection-img {
        img {
            height: 502px;
        }
    }

    .view-vacancies-box {
        padding-left: 72px;
        padding-right: 85px;
        padding-block: 85px;
    }
}


.small-image-section {
    height: 409px;
}