.hero-section {
    background: linear-gradient(#30264B 76%, transparent 40%);

    .hero-img {
        height: 532px;

        @include media-breakpoint-down(lg) {
            height: 300px;
        }
    }
}